.endpoint-example {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.text-areas {
  display: flex;
}

.editable-area {
  flex: 1;
}

.result-area {
  flex: 1;
  margin-left: 1rem;
}

.example-container--code {
  height: 100%
}
