.endpoint-example {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.text-area-wrapper {
  display: flex;
  max-height: 25rem;
}

.text-area {
  flex: 1;
  padding: .5rem;
}

.text-area > pre {
  white-space: pre-wrap;
}

.text-area textarea {
  resize: none;
}

.example-container--code {
  height: 100%
}
