div.language-container.bx--tile {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.new-language-container {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

div.language-container.bx--tile > div.bx--form-item {
  align-items: center;
  justify-content: center;
}

div.new-language-container > div.bx--form-item {
  margin-left: 5rem;
  max-width: 50%;
}

button.bx--btn.bx--btn--primary.add-language {
  margin-left: 1rem;
  margin-right: 5rem;
}
